@import "tailwindcss";

body{
    overflow-x: hidden;
    background-color: #000000;
}
@font-face {
  font-family: 'Script';
  src: url('./fonts/ImperialScript-Regular.woff2') format('woff2'),
       url('./fonts/ImperialScript-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap; 
}

@font-face{
    font-family: 'Grotesk';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Grotesk-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Pixel';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/PressStart2P-Regular.ttf') format('truetype');
}

@theme {
    --font-pixel: "Press Start 2P", cursive;
    --font-grotesk: 'Grotesk', sans-serif;
    --font-script: "Script", cursive; 
}
