@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Imperial+Script&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playwrite+NZ:wght@200&family=Press+Start+2P&family=Space+Grotesk:wght@300..700&family=Tangerine:wght@400;700&display=swap');
body{
    overflow-x: hidden;
    background-color: #000000;
}

@font-face{
    font-family: 'Grotesk';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Grotesk-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Pixel';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/PressStart2P-Regular.ttf') format('truetype');
}

@theme {
    --font-pixel: "Press Start 2P", cursive;
    --font-grotesk: 'Grotesk', sans-serif;
    --font-script: "Imperial Script", cursive; 
}
